reference-infinity/shared/backup/repo/workflows/ivZLVs7KO5GS6G8v.json
{
  "createdAt": "2025-05-05T22:30:29.214Z",
  "updatedAt": "2025-05-05T22:49:27.509Z",
  "id": "ivZLVs7KO5GS6G8v",
  "name": "My workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9de81bbd-43cf-4593-bc6d-b339fef53e3b",
      "name": "Telegram Trigger",
      "webhookId": "181f029f-4717-45a8-b2cd-465124625acb",
      "credentials": {
        "telegramApi": {
          "id": "10uteafWYeNnAd8y",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-r1:7b",
        "options": {
          "format": "default"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        160,
        280
      ],
      "id": "fbfdd3ce-15da-443c-b453-2d9fe73602ae",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "80rXherAlZnMr3T3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        280,
        0
      ],
      "id": "3476090c-5881-4153-9f0c-ae4532eac51f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "8910ca06-95b9-4a96-9852-392c53572944",
      "name": "Telegram",
      "webhookId": "85af393b-203d-4c3b-9349-9af4e4a5264d",
      "credentials": {
        "telegramApi": {
          "id": "10uteafWYeNnAd8y",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f68a323b-80a1-4a4a-8b68-b15d02678ba2",
  "triggerCount": 0,
  "tags": []
}