reference-infinity/shared/2905/wfile.json
[{"createdAt":"2025-05-27T03:26:46.223Z","updatedAt":"2025-05-28T07:30:19.256Z","id":"cuN4zah0pwkaVOno","name":"InfinityCafeTelegram","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://qwenagent:9000/api/chat","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"message\": \"{{ $json.message.text }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,-20],"id":"9d82217a-7299-41fe-ae35-7bc3325e6a98","name":"HTTP Request"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-400,-20],"id":"b72de0c6-2e5e-4a34-8c5f-8c2d2ba68aa2","name":"Telegram Trigger","webhookId":"0187bde0-c3b5-4ea2-8783-6a8a820345e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('HTTP Request').item.json.response[3].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\") + \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,-360],"id":"fd7633c9-6334-44a9-ad89-84dcaef28ef1","name":"Telegram","webhookId":"7988e33b-fd30-43e8-b50b-ac06213307e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Processing...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-260,-380],"id":"6f9b0154-244a-4115-83a6-14751f8693d0","name":"Telegram1","webhookId":"b0074f9d-9e16-4723-9efc-bc565cc1d4c0","notesInFlow":false,"credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('HTTP Request').item.json.response[2].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,-180],"id":"f44e94a4-bc1f-405c-85eb-b44639492148","name":"Telegram2","webhookId":"7988e33b-fd30-43e8-b50b-ac06213307e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2905f88c-47a3-4305-aa02-010f0c4f0912","leftValue":"={{ $('HTTP Request').item.json.response[3].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"875848ab-9447-4f3c-8f4b-0361e0cbb313","leftValue":"={{ $('HTTP Request').item.json.response[2].content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,-160],"id":"a90bfd13-cb3f-4a29-a027-5e917ac8d629","name":"If1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('HTTP Request').item.json.response[1].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[700,100],"id":"4967d8e9-c2fd-40e3-b74c-e865560a0fcb","name":"Telegram3","webhookId":"7988e33b-fd30-43e8-b50b-ac06213307e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('HTTP Request').item.json.response[0].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,-500],"id":"cbed33f4-c555-4668-a7fc-9ddf70ff80ba","name":"Telegram4","webhookId":"7988e33b-fd30-43e8-b50b-ac06213307e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fd32b5b-c2a7-4ede-8c39-0d670345c718","leftValue":"={{ $json.response[2].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"3f30f62b-6cf3-4eec-8a4e-ee86dd71fae6","leftValue":"={{ $json.response[3].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,-460],"id":"590aa9ed-e5da-4757-83dc-e6598dd306b6","name":"Jika pertanyaan biasa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fd32b5b-c2a7-4ede-8c39-0d670345c718","leftValue":"={{ $json.response[1].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,-300],"id":"4ee95827-5ce2-4706-a244-9acd3be7dd74","name":"If using tools"}],"connections":{"Telegram Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Telegram1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Jika pertanyaan biasa","type":"main","index":0}]]},"If1":{"main":[[{"node":"Telegram2","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Jika pertanyaan biasa":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"If using tools","type":"main","index":0}]]},"If using tools":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1ea72855-e912-4c09-8ac2-a75d3231986e","triggerCount":1,"tags":[]},{"createdAt":"2024-02-23T16:58:31.616Z","updatedAt":"2024-02-23T16:58:31.616Z","id":"srOnR8PAY3u4RSwb","name":"Demo workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"74003dcd-2ac7-4caa-a1cd-adecc5143c07","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[660,340],"webhookId":"cdb5c076-d458-4b9d-8398-f43bd25059b1"},{"parameters":{},"id":"ce8c3da4-899c-4cc4-af73-8096c64eec64","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.3,"position":[880,340]},{"parameters":{"model":"llama3.2:latest","options":{}},"id":"3dee878b-d748-4829-ac0a-cfd6705d31e5","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[900,560],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}}],"connections":{"Chat Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e2affe6-bb1c-4ddc-92f9-dde0b7656796","triggerCount":0,"tags":[]},{"createdAt":"2025-05-28T04:41:25.277Z","updatedAt":"2025-05-28T04:41:47.804Z","id":"dXyC9zUu0Z35zrA8","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-280,-80],"id":"ea0c3664-4b38-4343-ab05-b162af9f39ea","name":"WhatsApp Trigger","webhookId":"08e0d267-427d-4772-ba26-2c1eb2cacdb1","credentials":{"whatsAppTriggerApi":{"id":"sTLStQ1LWn2SIz4v","name":"WhatsApp OAuth account"}}}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cc8e7b47-892c-4883-990c-edf99a4af663","triggerCount":0,"tags":[]},{"createdAt":"2025-05-28T07:30:50.096Z","updatedAt":"2025-05-28T08:48:12.388Z","id":"42Fcax1OhgDoaFcq","name":"InfinityCafeN8NWhatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2905f88c-47a3-4305-aa02-010f0c4f0912","leftValue":"={{ $('HTTP Request').item.json.response[3].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"875848ab-9447-4f3c-8f4b-0361e0cbb313","leftValue":"={{ $('HTTP Request').item.json.response[2].content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,-100],"id":"dfd43ad5-822a-4b00-b132-31cbb32b31bc","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fd32b5b-c2a7-4ede-8c39-0d670345c718","leftValue":"={{ $json.response[2].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"3f30f62b-6cf3-4eec-8a4e-ee86dd71fae6","leftValue":"={{ $json.response[3].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,-460],"id":"1bd62177-9d04-410b-a217-4bfdbcb2811d","name":"Jika pertanyaan biasa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fd32b5b-c2a7-4ede-8c39-0d670345c718","leftValue":"={{ $json.response[1].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,-300],"id":"0e8b0620-2fcf-4d61-a944-ca41f35be68d","name":"If using tools"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-500,200],"id":"b3f84c4c-8a71-4435-85b7-ff6a936aa3e4","name":"WhatsApp Trigger","webhookId":"35ecd550-cd6c-43a9-96b5-f2bc1d275c8d","credentials":{"whatsAppTriggerApi":{"id":"sTLStQ1LWn2SIz4v","name":"WhatsApp OAuth account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $json.messages[0].from }}","textBody":"=Processing...","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-40,120],"id":"8553847f-95d8-4eca-9915-96c6e389a0de","name":"WhatsApp Business Cloud","webhookId":"be300068-1016-4636-b625-b9c59d0140f7","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('HTTP Request').item.json.response[0].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[840,-600],"id":"733df4f1-db0d-4cbc-bb42-d67c46934dc8","name":"WhatsApp Business Cloud1","webhookId":"fd2261d1-656e-49be-9e56-b327da179f7a","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('HTTP Request').item.json.response[3].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\") + \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[980,-380],"id":"d25db54a-ba5e-4e68-b812-9efd53c31070","name":"WhatsApp Business Cloud2","webhookId":"d742e819-41e9-43f3-91a9-74002e7f994e","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('HTTP Request').item.json.response[2].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1060,-180],"id":"d9e9a426-cc13-4e2f-a464-06b192d3f888","name":"WhatsApp Business Cloud3","webhookId":"41f9dece-9cf6-4a4d-bd1c-82a8da3c4bf1","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('HTTP Request').item.json.response[1].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[980,40],"id":"d781d8e3-7d37-46eb-8652-cd403e39c2f9","name":"WhatsApp Business Cloud4","webhookId":"214ec601-b67e-4819-b95a-6812bf85615f","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cab4359c-fed7-403f-8940-bd78011854e6","leftValue":"={{ $json.messages }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,240],"id":"973a5d65-212c-4533-a6b5-22dc2f254c71","name":"If"},{"parameters":{"method":"POST","url":"http://qwenagent:9000/api/chat","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"message\": \"{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,-180],"id":"01c3c097-cf56-428a-80b0-89bc02569192","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"= /nothink {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","options":{"systemMessage":"=Exec tools only./nothink","maxIterations":4,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[180,120],"id":"b24ec05e-53ee-4682-a60b-d63653c6d85f","name":"AI Agent"},{"parameters":{"sseEndpoint":"http://menu_service:8001/mcp"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[700,380],"id":"d96d59b0-6ce5-4d7e-bccd-d72520dd75df","name":"MCP Client"},{"parameters":{"sseEndpoint":"http://order_service:8002/mcp"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[540,400],"id":"dddc3d5f-891f-482e-bbc6-6aa7254b0b0b","name":"MCP Client1"},{"parameters":{"sseEndpoint":"http://kitchen_service:8003/mcp"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[380,400],"id":"e1513c9b-5fea-4a11-8f33-13cf51d7a45a","name":"Kitchen Service"},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\") }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[620,120],"id":"38d0d21e-f9a7-49a4-9c0f-0f6463ca1b78","name":"WhatsApp Business Cloud5","webhookId":"9a40a516-6786-4bfc-9b52-9a606bcf0959","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,340],"id":"466eef74-dd6d-4c7c-a677-3c9398b0dca8","name":"Simple Memory"},{"parameters":{"model":"qwen3:latest","options":{"temperature":0,"topK":20,"topP":0.8,"keepAlive":"12h","mainGpu":0,"numPredict":8000}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-180,520],"id":"a51d7473-72fe-40ec-9d1c-634cc817c51d","name":"Qwen3:latest","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"model":"qwen3:1.7b","options":{"temperature":0.7,"topK":20,"topP":0.8,"keepAlive":"12h","mainGpu":0,"numPredict":8000}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[20,420],"id":"d6f0fdf2-7d72-47ae-b4ae-2b2f280906de","name":"qwen3:1.7b","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}}],"connections":{"If1":{"main":[[{"node":"WhatsApp Business Cloud3","type":"main","index":0}],[{"node":"WhatsApp Business Cloud4","type":"main","index":0}]]},"Jika pertanyaan biasa":{"main":[[{"node":"WhatsApp Business Cloud1","type":"main","index":0}],[{"node":"If using tools","type":"main","index":0}]]},"If using tools":{"main":[[{"node":"WhatsApp Business Cloud2","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP Client1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Kitchen Service":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"WhatsApp Business Cloud5","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"qwen3:1.7b":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"868cc9f7-9e93-435b-b2d7-22012990e1bf","triggerCount":1,"tags":[]},{"createdAt":"2025-05-27T02:50:23.271Z","updatedAt":"2025-05-27T03:39:43.463Z","id":"cSZEl7eBgTmqE84U","name":"Infinity Cafe","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[0,0],"id":"d1d31e17-0130-45ec-953e-e71c6003b477","name":"WhatsApp Trigger","webhookId":"11baed61-96e0-40c8-ad66-d2a62d203b48","credentials":{"whatsAppTriggerApi":{"id":"oCo9W9oXC2LrMavk","name":"WhatsApp OAuth account"}}},{"parameters":{"method":"POST","url":"http://qwenagent:9000/api/chat","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.messages[0].text.body }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"a99283b3-f413-4b14-961f-a02d0000450c","name":"HTTP Request"},{"parameters":{"operation":"send","phoneNumberId":"625696457300415","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.response[2].content }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[440,0],"id":"93fe716d-9e31-4ec9-8a26-827d68b20a70","name":"WhatsApp Business Cloud","webhookId":"34643e09-8b3d-450f-9f99-b3983c32169f","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"74feea87-2f5d-4003-999a-0196366e0a4e","triggerCount":1,"tags":[]},{"createdAt":"2025-05-27T09:29:52.395Z","updatedAt":"2025-05-27T09:29:52.395Z","id":"a7q8Unsd9qSCNp4D","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[0,0],"id":"d8b2b4af-d5ca-4d93-a8ef-29c0e9ad05b7","name":"WhatsApp Trigger","webhookId":"14e77def-3e33-4855-b926-7a17b3e77bbf","credentials":{"whatsAppTriggerApi":{"id":"8HTmXoZ9iSMVFgqh","name":"WhatsApp OAuth account"}}}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33dd954c-9fe2-4b74-8289-2811b2c4037b","triggerCount":0,"tags":[]},{"createdAt":"2025-05-28T04:42:25.088Z","updatedAt":"2025-05-28T07:30:21.069Z","id":"KI742jDk8fQeT8zZ","name":"InfinityCafeWhatsapp","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://qwenagent:9000/api/chat","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"message\": \"{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,-20],"id":"c888a5ee-0030-4f66-b576-e28be45a729a","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2905f88c-47a3-4305-aa02-010f0c4f0912","leftValue":"={{ $('HTTP Request').item.json.response[3].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"875848ab-9447-4f3c-8f4b-0361e0cbb313","leftValue":"={{ $('HTTP Request').item.json.response[2].content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,-100],"id":"9bb22875-7dfb-4a0f-bf60-8734f96bcd5d","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fd32b5b-c2a7-4ede-8c39-0d670345c718","leftValue":"={{ $json.response[2].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"3f30f62b-6cf3-4eec-8a4e-ee86dd71fae6","leftValue":"={{ $json.response[3].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,-460],"id":"d548b87e-9bdf-49c0-a1ae-27c76036b31c","name":"Jika pertanyaan biasa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fd32b5b-c2a7-4ede-8c39-0d670345c718","leftValue":"={{ $json.response[1].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,-300],"id":"f4801212-7bda-48aa-8eed-a6d9c39a7b8e","name":"If using tools"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-500,200],"id":"0030cd93-b686-413b-94e2-62139a14dbdc","name":"WhatsApp Trigger","webhookId":"ad97f588-4ce8-42df-8430-da6dce866641","credentials":{"whatsAppTriggerApi":{"id":"sTLStQ1LWn2SIz4v","name":"WhatsApp OAuth account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $json.messages[0].from }}","textBody":"=Processing...","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-40,120],"id":"b5a73d94-9d5a-4b85-b49f-15a894874180","name":"WhatsApp Business Cloud","webhookId":"195955c6-cd3a-4f0d-86b5-7fe9242b7ec3","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('HTTP Request').item.json.response[0].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[840,-600],"id":"af79b2a5-c6bb-406e-9e99-ade7ce05c855","name":"WhatsApp Business Cloud1","webhookId":"195955c6-cd3a-4f0d-86b5-7fe9242b7ec3","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('HTTP Request').item.json.response[3].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\") + \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[980,-380],"id":"d33deb49-e207-4554-94c0-e5d6f75cf3a5","name":"WhatsApp Business Cloud2","webhookId":"195955c6-cd3a-4f0d-86b5-7fe9242b7ec3","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('HTTP Request').item.json.response[2].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1060,-180],"id":"42e60ab8-7f2a-4368-aef5-f92803fc6fa4","name":"WhatsApp Business Cloud3","webhookId":"195955c6-cd3a-4f0d-86b5-7fe9242b7ec3","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('HTTP Request').item.json.response[1].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[980,40],"id":"8e97e408-38c3-41bc-a9d5-9229561ae90c","name":"WhatsApp Business Cloud4","webhookId":"195955c6-cd3a-4f0d-86b5-7fe9242b7ec3","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cab4359c-fed7-403f-8940-bd78011854e6","leftValue":"={{ $json.messages }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,240],"id":"c61e6d37-67d5-4d76-a4a8-091e71d3ef5b","name":"If"}],"connections":{"HTTP Request":{"main":[[{"node":"Jika pertanyaan biasa","type":"main","index":0}]]},"If1":{"main":[[{"node":"WhatsApp Business Cloud3","type":"main","index":0}],[{"node":"WhatsApp Business Cloud4","type":"main","index":0}]]},"Jika pertanyaan biasa":{"main":[[{"node":"WhatsApp Business Cloud1","type":"main","index":0}],[{"node":"If using tools","type":"main","index":0}]]},"If using tools":{"main":[[{"node":"WhatsApp Business Cloud2","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1ea72855-e912-4c09-8ac2-a75d3231986e","triggerCount":1,"tags":[]}]