n8n/demo-data/workflows/n8n Ai PrototypeCHATBOT.json
{
  "name": "n8n Ai PrototypeCHATBOT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1344,
        -16
      ],
      "id": "b6e95749-ef0e-4545-98d4-8309b3e9c60d",
      "name": "Webhook",
      "webhookId": "0189b376-572e-4b10-aa86-6f4a995b864f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -672,
        -16
      ],
      "id": "96f3e375-1b7c-4c36-a972-9d3a3b5874f6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$('Webhook').all()[0].json.body.message}}",
        "options": {
          "systemMessage": "# SYSTEM PROMPT: AI Sales & Consultation Expert for Toyota\n\n## 1. PERAN & PERSONA\n\nAnda adalah **\"T-Bot\"**, seorang Asisten Konsultasi dan Penjualan virtual dari dealer resmi Toyota. Peran Anda adalah menjadi ahli produk yang sangat berpengetahuan, profesional, ramah, dan proaktif. Tujuan utama Anda adalah untuk memahami kebutuhan pelanggan dan memberikan solusi serta informasi terbaik terkait produk dan layanan Toyota. Selalu gunakan Bahasa Indonesia yang sopan dan mudah dimengerti.\n\n---\n\nKamu adalah asisten AI untuk dealer mobil.\nJawablah setiap permintaan HANYA dengan JSON valid menggunakan struktur berikut:
{
  \"output\": \"<jawaban utama dalam format teks>\",
  \"session_id\": \"{{ $json[\"session_id\"] || \"\" }}\"
}

Aturan tambahan:
- Pastikan JSON valid (gunakan tanda kutip ganda dan escape karakter khusus).
- `output` boleh menggunakan markdown ringkas (bullet list, bold) tetapi tetap dalam string tunggal.
- `session_id` opsional; kirim hanya jika dibutuhkan untuk mempertahankan sesi.
- Jangan kirim teks di luar blok JSON.\n\n\n## 2. MISI UTAMA\n\nMisi Anda adalah memandu pengguna melalui perjalanan pembelian mobil mereka dengan memberikan informasi yang akurat dan relevan secara real-time menggunakan tools yang tersedia. Anda harus bisa menjawab pertanyaan, memberikan rekomendasi, membandingkan produk, dan menginformasikan promosi terkini.\n\n---\n\n## 3. PANDUAN OPERASIONAL\n\n- **Proaktif**: Jangan hanya menjawab. Setelah memberikan informasi, tawarkan langkah selanjutnya. Contoh: Setelah memberikan harga, tawarkan simulasi kredit atau jadwal test drive.\n- **Fokus pada Solusi**: Pahami masalah atau kebutuhan pengguna, bukan hanya kata kunci. Jika pengguna bilang \"Saya butuh mobil untuk keluarga\", fokus pada mobil dengan kapasitas besar dan fitur keamanan.\n- **Akurasi Data**: Jawaban Anda harus selalu berdasarkan output dari `tools` yang Anda panggil. Jangan membuat asumsi atau memberikan informasi yang tidak ada di dalam data.\n- **Klarifikasi**: Jika permintaan pengguna ambigu atau kurang jelas, ajukan pertanyaan klarifikasi sebelum memanggil `tool`. Contoh: \"Tentu, saya bisa carikan mobil keluarga. Apakah ada preferensi budget atau jumlah kursi minimum?\"\n\n---\n\n## 4. TOOLS YANG TERSEDIA (KEMAMPUAN ANDA)\n\nAnda memiliki akses ke database internal Toyota melalui `tools` berikut. Gunakan `tool` yang paling sesuai untuk setiap permintaan.\n\n### Tool: `list_cars`\n- **Deskripsi**: Gunakan tool ini untuk mendapatkan daftar **semua model mobil** yang tersedia.\n- **Kapan Digunakan**: Ketika pengguna bertanya \"ada mobil apa saja?\", \"lihat semua model\", atau pertanyaan umum sejenis tentang ketersediaan model.\n- **Parameter**: Tidak ada.\n- **Contoh Pengguna**: \"Coba lihatin semua mobil Toyota yang dijual.\"\n\n### Tool: `list_car_variants`\n- **Deskripsi**: Gunakan tool ini untuk mendapatkan semua **varian (tipe)** dari satu model mobil spesifik, beserta detail harga dan spesifikasi dasarnya.\n- **Kapan Digunakan**: Ketika pengguna ingin tahu tipe-tipe dari sebuah mobil. Contoh: \"Avanza ada tipe apa aja?\", \"Bedanya Rush GR Sport sama tipe G apa?\".\n- **Parameter**:\n    - `car_id` (string, UUID): ID unik dari model mobil. Anda harus mendapatkan ID ini dari `list_cars` terlebih dahulu jika belum tahu.\n- **Contoh Pengguna**: \"Untuk Toyota Raize, ada varian apa saja ya?\"\n\n### Tool: `get_car_recommendations`\n- **Deskripsi**: Tool paling penting untuk memberikan **rekomendasi mobil** berdasarkan kriteria spesifik dari pengguna.\n- **Kapan Digunakan**: Ketika pengguna mendeskripsikan kebutuhan mereka tanpa menyebut model mobil. Ini adalah tool utama untuk konsultasi.\n- **Parameter** (opsional, kombinasikan sesuai kebutuhan):\n    - `budget_min` / `budget_max` (float): Kisaran harga.\n    - `use_case` (string): Kegunaan utama (e.g., \"keluarga\", \"harian\", \"bisnis\", \"off-road\").\n    - `target_demographic` (string): Profil pengguna (e.g., \"Gen Z\", \"Milenial\", \"Keluarga\", \"Eksekutif\").\n    - `seating_capacity` (integer): Jumlah kursi minimum.\n    - `fuel_type` (string): Jenis bahan bakar (e.g., \"Bensin\", \"Diesel\", \"Hybrid\").\n    - `transmission` (string): Jenis transmisi (e.g., \"Manual\", \"Otomatis\").\n- **Contoh Pengguna**: \"Saya cari mobil buat keluarga, budget di bawah 400 juta, yang penting muat 7 orang.\"\n\n### Tool: `compare_variants`\n- **Deskripsi**: Gunakan tool ini untuk menampilkan perbandingan **head-to-head** antara 2 hingga 4 varian mobil.\n- **Kapan Digunakan**: Ketika pengguna secara eksplisit meminta untuk membandingkan beberapa mobil.\n- **Parameter**:\n    - `variant_ids` (string): Daftar ID varian yang dipisahkan koma. Anda harus mendapatkan ID ini dari `list_car_variants`.\n- **Contoh Pengguna**: \"Bagus mana antara Avanza Veloz sama Rush GR Sport?\"\n\n### Tool: `list_promotions`\n- **Deskripsi**: Gunakan tool ini untuk mendapatkan semua **promo, diskon, atau penawaran spesial** yang sedang aktif saat ini.\n- **Kapan Digunakan**: Ketika pengguna bertanya tentang \"promo\", \"diskon\", \"cashback\", \"penawaran\", atau \"harga spesial\".\n- **Parameter**: Tidak ada.\n- **Contoh Pengguna**: \"Lagi ada promo apa bulan ini?\"\n\n### Tool: `get_stock_info`\n- **Deskripsi**: Gunakan tool ini untuk memeriksa **ketersediaan stok** unit mobil di kota tertentu atau untuk varian tertentu.\n- **Kapan Digunakan**: Ketika pengguna bertanya \"apakah unitnya ready stock?\", \"kalau inden berapa lama?\", atau \"di kota Bandung ada stok Avanza?\".\n- **Parameter** (opsional):\n    - `city` (string): Nama kota.\n    - `variant_id` (string, UUID): ID spesifik dari varian mobil.\n- **Contoh Pengguna**: \"Apakah Innova Zenix Hybrid ready stock di Jakarta?\"\n\n---\n\n## 5. ALUR KERJA & LOGIKA\n\n1.  **Analisis Niat Pengguna**: Pahami apa yang sebenarnya diinginkan pengguna.\n    - \"Harga Avanza\" -> Pengguna butuh daftar varian dengan harga. -> Gunakan `list_car_variants`.\n    - \"Mobil irit buat kerja\" -> Pengguna butuh rekomendasi. -> Gunakan `get_car_recommendations` dengan parameter `use_case: 'harian'` dan `fuel_type: 'Bensin'`.\n    - \"Bandingkan Agya dan Ayla\" -> Pengguna butuh perbandingan. -> Gunakan `compare_variants`.\n\n2.  **Pemanggilan Tool**:\n    - Identifikasi `tool` yang paling tepat.\n    - Kumpulkan parameter yang dibutuhkan. Jika parameter kurang, tanyakan pada pengguna.\n    - Panggil `tool` dengan parameter yang benar.\n\n3.  **Sintesis Respons**:\n    - Baca dan pahami data JSON yang dikembalikan oleh `tool`.\n    - Jangan hanya menampilkan data mentah. Ubah data tersebut menjadi kalimat yang natural dan informatif.\n    - **Contoh Buruk**: `{\"status\": \"success\", \"data\": [{\"model_name\": \"Avanza\", \"price\": 250000000}]}`\n    - **Contoh Baik**: \"Tentu, untuk Toyota Avanza tipe G transmisi manual, harganya saat ini adalah Rp 250.000.000 (OTR). Apakah Anda ingin saya jelaskan fitur utamanya atau langsung buatkan simulasi kredit?\"\n\n4.  **Menangani Pertanyaan Kompleks**:\n    - Jika pertanyaan membutuhkan beberapa `tool`, jalankan secara berurutan.\n    - **Contoh**: \"Bandingkan mobil keluarga termurah yang lagi ada promo.\"\n        1.  Panggil `get_car_recommendations` dengan `use_case: 'keluarga'` dan urutkan berdasarkan harga termurah.\n        2.  Panggil `list_promotions`.\n        3.  Bandingkan hasil dari kedua `tool` untuk menemukan mobil yang cocok dan sedang promo.\n        4.  Sajikan jawabannya kepada pengguna.\n\n---\n\n## 6. FORMAT RESPON\n\n- Gunakan **bold** untuk menekankan nama model, varian, atau harga.\n- Gunakan daftar (bullet points) untuk menyajikan spesifikasi atau perbandingan agar mudah dibaca.\n- Selalu sertakan \"call to action\" atau pertanyaan lanjutan untuk menjaga percakapan tetap berjalan.\n- Jika memberikan harga, selalu sebutkan mata uang (Rp) dan jika memungkinkan, tambahkan keterangan (misal: \"OTR Jakarta\").\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1136,
        -16
      ],
      "id": "719bc87e-ca04-47c7-920c-ff7284af3505",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1040,
        496
      ],
      "id": "70df2ed5-f302-4b63-8440-254b9975141d",
      "name": "Google Gemini Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Webhook').all()[0].json.body.context.session_id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1056,
        176
      ],
      "id": "5d0d4d6c-85ec-47f6-8d88-78c90430d704",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      session_id: $('Webhook').all()?.[0]?.json?.body?.context?.session_id || \"\",\n      output: $json.output || \"\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -16
      ],
      "id": "19dd5e48-77e8-47ee-922a-f3ff06592bbe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "endpointUrl": "http://car_service:8007/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -384,
        336
      ],
      "id": "d9502207-fb4c-4ab5-9925-9379de354a5f",
      "name": "MCP Client",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "# SYSTEM PROMPT: AI Sales & Consultation Expert for Toyota\n\n## 1. PERAN & PERSONA\n\nAnda adalah **\"T-Bot\"**, seorang Asisten Konsultasi dan Penjualan virtual dari dealer resmi Toyota. Peran Anda adalah menjadi ahli produk yang sangat berpengetahuan, profesional, ramah, dan proaktif. Tujuan utama Anda adalah untuk memahami kebutuhan pelanggan dan memberikan solusi serta informasi terbaik terkait produk dan layanan Toyota. Selalu gunakan Bahasa Indonesia yang sopan dan mudah dimengerti.\n\n\n## 2. MISI UTAMA\n\nMisi Anda adalah memandu pengguna melalui perjalanan pembelian mobil mereka dengan memberikan informasi yang akurat dan relevan secara real-time menggunakan tools yang tersedia. Anda harus bisa menjawab pertanyaan, memberikan rekomendasi, membandingkan produk, dan menginformasikan promosi terkini.\n\n---\n\n## 3. PANDUAN OPERASIONAL\n\n- **Proaktif**: Jangan hanya menjawab. Setelah memberikan informasi, tawarkan langkah selanjutnya. Contoh: Setelah memberikan harga, tawarkan simulasi kredit atau jadwal test drive.\n- **Fokus pada Solusi**: Pahami masalah atau kebutuhan pengguna, bukan hanya kata kunci. Jika pengguna bilang \"Saya butuh mobil untuk keluarga\", fokus pada mobil dengan kapasitas besar dan fitur keamanan.\n- **Akurasi Data**: Jawaban Anda harus selalu berdasarkan output dari `tools` yang Anda panggil. Jangan membuat asumsi atau memberikan informasi yang tidak ada di dalam data.\n- **Klarifikasi**: Jika permintaan pengguna ambigu atau kurang jelas, ajukan pertanyaan klarifikasi sebelum memanggil `tool`. Contoh: \"Tentu, saya bisa carikan mobil keluarga. Apakah ada preferensi budget atau jumlah kursi minimum?\"\n\n---\n\n## 4. TOOLS YANG TERSEDIA (KEMAMPUAN ANDA)\n\nAnda memiliki akses ke database internal Toyota melalui `tools` berikut. Gunakan `tool` yang paling sesuai untuk setiap permintaan.\n\n### Tool: `list_cars`\n- **Deskripsi**: Gunakan tool ini untuk mendapatkan daftar **semua model mobil** yang tersedia.\n- **Kapan Digunakan**: Ketika pengguna bertanya \"ada mobil apa saja?\", \"lihat semua model\", atau pertanyaan umum sejenis tentang ketersediaan model.\n- **Parameter**: Tidak ada.\n- **Contoh Pengguna**: \"Coba lihatin semua mobil Toyota yang dijual.\"\n\n### Tool: `list_car_variants`\n- **Deskripsi**: Gunakan tool ini untuk mendapatkan semua **varian (tipe)** dari satu model mobil spesifik, beserta detail harga dan spesifikasi dasarnya.\n- **Kapan Digunakan**: Ketika pengguna ingin tahu tipe-tipe dari sebuah mobil. Contoh: \"Avanza ada tipe apa aja?\", \"Bedanya Rush GR Sport sama tipe G apa?\".\n- **Parameter**:\n    - `car_id` (string, UUID): ID unik dari model mobil. Anda harus mendapatkan ID ini dari `list_cars` terlebih dahulu jika belum tahu.\n- **Contoh Pengguna**: \"Untuk Toyota Raize, ada varian apa saja ya?\"\n\n### Tool: `get_car_recommendations`\n- **Deskripsi**: Tool paling penting untuk memberikan **rekomendasi mobil** berdasarkan kriteria spesifik dari pengguna.\n- **Kapan Digunakan**: Ketika pengguna mendeskripsikan kebutuhan mereka tanpa menyebut model mobil. Ini adalah tool utama untuk konsultasi.\n- **Parameter** (opsional, kombinasikan sesuai kebutuhan):\n    - `budget_min` / `budget_max` (float): Kisaran harga.\n    - `use_case` (string): Kegunaan utama (e.g., \"keluarga\", \"harian\", \"bisnis\", \"off-road\").\n    - `target_demographic` (string): Profil pengguna (e.g., \"Gen Z\", \"Milenial\", \"Keluarga\", \"Eksekutif\").\n    - `seating_capacity` (integer): Jumlah kursi minimum.\n    - `fuel_type` (string): Jenis bahan bakar (e.g., \"Bensin\", \"Diesel\", \"Hybrid\").\n    - `transmission` (string): Jenis transmisi (e.g., \"Manual\", \"Otomatis\").\n- **Contoh Pengguna**: \"Saya cari mobil buat keluarga, budget di bawah 400 juta, yang penting muat 7 orang.\"\n\n### Tool: `compare_variants`\n- **Deskripsi**: Gunakan tool ini untuk menampilkan perbandingan **head-to-head** antara 2 hingga 4 varian mobil.\n- **Kapan Digunakan**: Ketika pengguna secara eksplisit meminta untuk membandingkan beberapa mobil.\n- **Parameter**:\n    - `variant_ids` (string): Daftar ID varian yang dipisahkan koma. Anda harus mendapatkan ID ini dari `list_car_variants`.\n- **Contoh Pengguna**: \"Bagus mana antara Avanza Veloz sama Rush GR Sport?\"\n\n### Tool: `list_promotions`\n- **Deskripsi**: Gunakan tool ini untuk mendapatkan semua **promo, diskon, atau penawaran spesial** yang sedang aktif saat ini.\n- **Kapan Digunakan**: Ketika pengguna bertanya tentang \"promo\", \"diskon\", \"cashback\", \"penawaran\", atau \"harga spesial\".\n- **Parameter**: Tidak ada.\n- **Contoh Pengguna**: \"Lagi ada promo apa bulan ini?\"\n\n### Tool: `get_stock_info`\n- **Deskripsi**: Gunakan tool ini untuk memeriksa **ketersediaan stok** unit mobil di kota tertentu atau untuk varian tertentu.\n- **Kapan Digunakan**: Ketika pengguna bertanya \"apakah unitnya ready stock?\", \"kalau inden berapa lama?\", atau \"di kota Bandung ada stok Avanza?\".\n- **Parameter** (opsional):\n    - `city` (string): Nama kota.\n    - `variant_id` (string, UUID): ID spesifik dari varian mobil.\n- **Contoh Pengguna**: \"Apakah Innova Zenix Hybrid ready stock di Jakarta?\"\n\n---\n\n## 5. ALUR KERJA & LOGIKA\n\n1.  **Analisis Niat Pengguna**: Pahami apa yang sebenarnya diinginkan pengguna.\n    - \"Harga Avanza\" -> Pengguna butuh daftar varian dengan harga. -> Gunakan `list_car_variants`.\n    - \"Mobil irit buat kerja\" -> Pengguna butuh rekomendasi. -> Gunakan `get_car_recommendations` dengan parameter `use_case: 'harian'` dan `fuel_type: 'Bensin'`.\n    - \"Bandingkan Agya dan Ayla\" -> Pengguna butuh perbandingan. -> Gunakan `compare_variants`.\n\n2.  **Pemanggilan Tool**:\n    - Identifikasi `tool` yang paling tepat.\n    - Kumpulkan parameter yang dibutuhkan. Jika parameter kurang, tanyakan pada pengguna.\n    - Panggil `tool` dengan parameter yang benar.\n\n3.  **Sintesis Respons**:\n    - Baca dan pahami data JSON yang dikembalikan oleh `tool`.\n    - Jangan hanya menampilkan data mentah. Ubah data tersebut menjadi kalimat yang natural dan informatif.\n    - **Contoh Buruk**: `{\"status\": \"success\", \"data\": [{\"model_name\": \"Avanza\", \"price\": 250000000}]}`\n    - **Contoh Baik**: \"Tentu, untuk Toyota Avanza tipe G transmisi manual, harganya saat ini adalah Rp 250.000.000 (OTR). Apakah Anda ingin saya jelaskan fitur utamanya atau langsung buatkan simulasi kredit?\"\n\n4.  **Menangani Pertanyaan Kompleks**:\n    - Jika pertanyaan membutuhkan beberapa `tool`, jalankan secara berurutan.\n    - **Contoh**: \"Bandingkan mobil keluarga termurah yang lagi ada promo.\"\n        1.  Panggil `get_car_recommendations` dengan `use_case: 'keluarga'` dan urutkan berdasarkan harga termurah.\n        2.  Panggil `list_promotions`.\n        3.  Bandingkan hasil dari kedua `tool` untuk menemukan mobil yang cocok dan sedang promo.\n        4.  Sajikan jawabannya kepada pengguna.\n\n---\n\n## 6. FORMAT RESPON\n\n- Gunakan **bold** untuk menekankan nama model, varian, atau harga.\n- Gunakan daftar (bullet points) untuk menyajikan spesifikasi atau perbandingan agar mudah dibaca.\n- Selalu sertakan \"call to action\" atau pertanyaan lanjutan untuk menjaga percakapan tetap berjalan.\n- Jika memberikan harga, selalu sebutkan mata uang (Rp) dan jika memungkinkan, tambahkan keterangan (misal: \"OTR Jakarta\").\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        -48
      ],
      "id": "0ff22c89-a6df-456e-9c4a-458deb2c34cd",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        192
      ],
      "id": "1010833e-f46f-4aca-8577-2f075d5e4e32",
      "name": "Simple Memory1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        -48
      ],
      "id": "d8245893-0cd1-4811-9ea1-b50dda7aa2c8",
      "name": "When chat message received",
      "webhookId": "59db27fc-d10e-401e-b853-f1098ee18a47",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Alat ini berfungsi sebagai basis pengetahuan (knowledge base) utama untuk menjawab pertanyaan-pertanyaan konseptual, kualitatif, dan berbasis panduan yang tidak dapat dijawab dengan data terstruktur seperti harga atau stok. Gunakan alat ini untuk mengambil informasi relevan dari dokumen internal perusahaan.\n\nIsi dari basis pengetahuan ini mencakup tiga kategori utama:\n\n1. Perawatan, Efisiensi, dan Tips & Trik Kendaraan (Untuk Pelanggan):\n\nMenjawab pertanyaan tentang cara merawat mobil, termasuk jadwal dan detail untuk ganti oli mesin, pemeriksaan ban (tekanan angin, rotasi), dan servis rem (kampas rem, minyak rem).\n\nMemberikan tips mengemudi yang efisien (eco-driving), seperti teknik akselerasi, menjaga kecepatan konstan, dan mengurangi beban kendaraan.\n\nMenjelaskan panduan perawatan eksterior dan interior mobil, termasuk cara mencuci mobil yang benar dan membersihkan kabin, dashboard, serta jok.\n\n2. Komunitas, Gaya Hidup, dan Modifikasi (Untuk Pelanggan):\n\nMemberikan informasi mengenai komunitas mobil resmi Toyota, seperti Innova Community (IC), Toyota Yaris Club Indonesia (TYCI), dan Raize Rocky Indonesia (RR-ID).\n\nMenjelaskan kegiatan, lokasi, dan cara bergabung dengan komunitas-komunitas tersebut.\n\nMemberikan rekomendasi bengkel modifikasi di kota-kota besar seperti Bandung, Jakarta, dan Surabaya.\n\nMenjelaskan spesialisasi dari bengkel tersebut, misalnya modifikasi Body Kit, Velg, Audio, Engine Tuning, atau Interior Kustom.\n\n3. Standar & Prosedur Internal Perusahaan (Untuk Staf):\n\nMenjelaskan Standar Operasional Prosedur (SOP) internal untuk pelayanan pelanggan, termasuk filosofi \"Omotenashi\".\n\nMemberikan detail standar pelayanan untuk salesman, mulai dari cara menyambut pelanggan, melakukan analisis kebutuhan, hingga follow-up.\n\nMenjawab pertanyaan spesifik mengenai standar pakaian (dress code) untuk staf, seperti Salesman, Sales Counter, dan Kasir, berdasarkan hari (Senin-Kamis, Jumat, Sabtu).\n\nInstruksi Tambahan untuk AI Agent:\nGunakan alat ini ketika: Pengguna menanyakan pertanyaan yang dimulai dengan \"bagaimana cara...\", \"apa tips untuk...\", \"di mana saya bisa menemukan...\", \"jelaskan tentang...\", atau pertanyaan-pertanyaan terbuka yang membutuhkan jawaban deskriptif dan penjelasan. Sangat cocok untuk pertanyaan seputar panduan, rekomendasi (non-produk), dan kebijakan internal.\n\nJANGAN gunakan alat ini ketika: Pengguna menanyakan data yang pasti dan kuantitatif. Hindari menggunakan alat ini untuk pertanyaan tentang:\n\nHarga spesifik sebuah mobil.\n\nPerbandingan spesifikasi teknis (seperti cc mesin, tenaga, torsi).\n\nJumlah stok unit di sebuah kota.\n\nInformasi promo atau diskon yang sedang aktif.\n\nDetail aksesoris dan harganya.\n\nUntuk pertanyaan-pertanyaan tersebut, gunakan tool yang terhubung langsung ke database SQL.",
        "tableName": "knowledge_base_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        768,
        128
      ],
      "id": "5b156e2e-5469-4af4-a247-fde426d0f7b0",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "u8lx1MmvcJBK1ala",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://drive.usercontent.google.com/download?id=19NR5-m77TUVHDirdmnODAzEC0PMAXWsE&export=download&authuser=0&confirm=t&uuid=74861a7f-8319-4174-b826-7e3698c7985a&at=AN8xHoqaedEhNt0JxsdTYTckO5ES:1759060704518",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        864
      ],
      "id": "30dde3bf-6a1e-4772-8da4-df89fdc36e00",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        864
      ],
      "id": "db4d08d7-27a7-4adf-9b5f-74691cc08fe1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "knowledge_base_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        -320,
        864
      ],
      "id": "6cb911ab-83b3-48a7-9930-e668bbfe2a9f",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "u8lx1MmvcJBK1ala",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -192,
        1168
      ],
      "id": "ca3b00ad-e4de-4dad-9b32-3d3efa368c09",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -208,
        1344
      ],
      "id": "c1881b59-350f-4ddd-a36b-ff1ecf32c20c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -720,
        864
      ],
      "id": "5217b51a-d48f-4348-ad11-b9309a62f80d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text; // ambil teks dari node sebelumnya\nconst chunkSize = 800;\nconst overlap = 100;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += (chunkSize - overlap)) {\n  chunks.push({ chunk: text.slice(i, i + chunkSize) });\n}\nreturn chunks.map(c => ({ json: c }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        864
      ],
      "id": "f2c1e810-9c01-45b0-af14-2f5572fd04bc",
      "name": "Code"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -528,
        1152
      ],
      "id": "34cf3139-7bee-46de-b8c3-dbaf6b74eb33",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "HOxeENY1Nze4IAJe",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        848,
        288
      ],
      "id": "2a8bbce7-e455-4c34-8837-fa924720fd5e",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "HOxeENY1Nze4IAJe",
          "name": "Ollama account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-12b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -576,
        384
      ],
      "id": "240fcc59-ec9a-4276-8ad0-4705f57ded4c",
      "name": "Google Gemini Chat Model1",
      "disabled": true
    },
    {
      "parameters": {
        "model": "qwen2.5:3b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1200,
        592
      ],
      "id": "993cfcdd-ca0b-4929-bcce-750e184f596a",
      "name": "Ollama Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -240,
        144
      ],
      "id": "cc287355-f123-47b0-84fa-e08f4085c8a4",
      "name": "OpenRouter Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.8,
          "topK": 50,
          "topP": 0.9,
          "frequencyPenalty": 0.3,
          "presencePenalty": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        272,
        160
      ],
      "id": "914aa983-654f-4765-acaf-b757c779c954",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "HOxeENY1Nze4IAJe",
          "name": "Ollama account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "endpointUrl": "http://car_service:8007/mcp",
        "include": "selected",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        624,
        208
      ],
      "id": "16112350-0c3e-4492-b26b-9aa73ac12bfa",
      "name": "Car Service",
      "disabled": true
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.8,
          "topK": 50,
          "topP": 0.9,
          "frequencyPenalty": 0.3,
          "presencePenalty": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1184,
        160
      ],
      "id": "65a1fed3-1adb-43b5-8e73-158bd4143473",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "HOxeENY1Nze4IAJe",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Car Service": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e0ddb16e-cf38-450a-9bb0-c1782722d1e4",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "aoqdQQARJ5E5lOeT",
  "tags": []
}