reference-infinity/shared/2805/wf.json
[{"createdAt":"2025-05-27T03:26:46.223Z","updatedAt":"2025-05-28T02:39:25.344Z","id":"cuN4zah0pwkaVOno","name":"InfinityCafeTelegram","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://qwenagent:9000/api/chat","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"message\": \"{{ $json.message.text }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,-20],"id":"9d82217a-7299-41fe-ae35-7bc3325e6a98","name":"HTTP Request"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-400,-20],"id":"b72de0c6-2e5e-4a34-8c5f-8c2d2ba68aa2","name":"Telegram Trigger","webhookId":"0187bde0-c3b5-4ea2-8783-6a8a820345e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('HTTP Request').item.json.response[3].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\") + \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,-360],"id":"fd7633c9-6334-44a9-ad89-84dcaef28ef1","name":"Telegram","webhookId":"7988e33b-fd30-43e8-b50b-ac06213307e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Processing...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-260,-380],"id":"6f9b0154-244a-4115-83a6-14751f8693d0","name":"Telegram1","webhookId":"b0074f9d-9e16-4723-9efc-bc565cc1d4c0","notesInFlow":false,"credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('HTTP Request').item.json.response[2].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,-180],"id":"f44e94a4-bc1f-405c-85eb-b44639492148","name":"Telegram2","webhookId":"7988e33b-fd30-43e8-b50b-ac06213307e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2905f88c-47a3-4305-aa02-010f0c4f0912","leftValue":"={{ $('HTTP Request').item.json.response[3].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"875848ab-9447-4f3c-8f4b-0361e0cbb313","leftValue":"={{ $('HTTP Request').item.json.response[2].content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,-160],"id":"a90bfd13-cb3f-4a29-a027-5e917ac8d629","name":"If1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('HTTP Request').item.json.response[1].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[700,100],"id":"4967d8e9-c2fd-40e3-b74c-e865560a0fcb","name":"Telegram3","webhookId":"7988e33b-fd30-43e8-b50b-ac06213307e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('HTTP Request').item.json.response[0].content.replace(/<think>[\\s\\S]*?<\\/think>\\n*/g,\"\")+ \" \\nprocessed in \"+$json.processing_time_ms +\" ms\" }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,-500],"id":"cbed33f4-c555-4668-a7fc-9ddf70ff80ba","name":"Telegram4","webhookId":"7988e33b-fd30-43e8-b50b-ac06213307e5","credentials":{"telegramApi":{"id":"jJxXyB5IK7PHFeiI","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fd32b5b-c2a7-4ede-8c39-0d670345c718","leftValue":"={{ $json.response[2].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"3f30f62b-6cf3-4eec-8a4e-ee86dd71fae6","leftValue":"={{ $json.response[3].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,-460],"id":"590aa9ed-e5da-4757-83dc-e6598dd306b6","name":"Jika pertanyaan biasa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fd32b5b-c2a7-4ede-8c39-0d670345c718","leftValue":"={{ $json.response[1].content }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,-300],"id":"4ee95827-5ce2-4706-a244-9acd3be7dd74","name":"If using tools"}],"connections":{"Telegram Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Telegram1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Jika pertanyaan biasa","type":"main","index":0}]]},"If1":{"main":[[{"node":"Telegram2","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Jika pertanyaan biasa":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"If using tools","type":"main","index":0}]]},"If using tools":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1ea72855-e912-4c09-8ac2-a75d3231986e","triggerCount":1,"tags":[]},{"createdAt":"2024-02-23T16:58:31.616Z","updatedAt":"2024-02-23T16:58:31.616Z","id":"srOnR8PAY3u4RSwb","name":"Demo workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"74003dcd-2ac7-4caa-a1cd-adecc5143c07","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[660,340],"webhookId":"cdb5c076-d458-4b9d-8398-f43bd25059b1"},{"parameters":{},"id":"ce8c3da4-899c-4cc4-af73-8096c64eec64","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.3,"position":[880,340]},{"parameters":{"model":"llama3.2:latest","options":{}},"id":"3dee878b-d748-4829-ac0a-cfd6705d31e5","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[900,560],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}}],"connections":{"Chat Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e2affe6-bb1c-4ddc-92f9-dde0b7656796","triggerCount":0,"tags":[]},{"createdAt":"2025-05-27T02:50:23.271Z","updatedAt":"2025-05-27T03:39:43.463Z","id":"cSZEl7eBgTmqE84U","name":"Infinity Cafe","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[0,0],"id":"d1d31e17-0130-45ec-953e-e71c6003b477","name":"WhatsApp Trigger","webhookId":"11baed61-96e0-40c8-ad66-d2a62d203b48","credentials":{"whatsAppTriggerApi":{"id":"oCo9W9oXC2LrMavk","name":"WhatsApp OAuth account"}}},{"parameters":{"method":"POST","url":"http://qwenagent:9000/api/chat","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.messages[0].text.body }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"a99283b3-f413-4b14-961f-a02d0000450c","name":"HTTP Request"},{"parameters":{"operation":"send","phoneNumberId":"625696457300415","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.response[2].content }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[440,0],"id":"93fe716d-9e31-4ec9-8a26-827d68b20a70","name":"WhatsApp Business Cloud","webhookId":"34643e09-8b3d-450f-9f99-b3983c32169f","credentials":{"whatsAppApi":{"id":"McMbfxV2oWmqd6iR","name":"WhatsApp account"}}}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"74feea87-2f5d-4003-999a-0196366e0a4e","triggerCount":1,"tags":[]},{"createdAt":"2025-05-27T09:29:52.395Z","updatedAt":"2025-05-27T09:29:52.395Z","id":"a7q8Unsd9qSCNp4D","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[0,0],"id":"d8b2b4af-d5ca-4d93-a8ef-29c0e9ad05b7","name":"WhatsApp Trigger","webhookId":"14e77def-3e33-4855-b926-7a17b3e77bbf","credentials":{"whatsAppTriggerApi":{"id":"8HTmXoZ9iSMVFgqh","name":"WhatsApp OAuth account"}}}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33dd954c-9fe2-4b74-8289-2811b2c4037b","triggerCount":0,"tags":[]}]